.header
{
    text-align: center;
    color: #eeeeee;
}

.bodycontainer
{
    background-color:#1e1e1e;
}

.container
{
    background-color: #1e1e1e;
    text-align: center;
    color: #eeeeee;
}

.list
{
    text-align: left;
    display: inline-block;
}

.errorMsg
{
    color: red;
    text-align: center;
}

.submitinput
{
    margin: 10px;
}