{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'trbotinput/exercisestyle.css' %}">

<h1 class="header">{{ exercise.exercise_name }}</h1>

<body class="bodycontainer">
    <div class="container">
        <p>Total Answers - {{ exercise.stats.total_answers }} | Correct Answers: {{ exercise.stats.correct_answers }}</p>
        
        {# GIF #}
        <img src="{% static 'trbotinput/gifs/' %}{{ exercise.gif_name }}"></img>

        {# Instructions #}
        <p>Enter your input below. No exercises require specifying input durations.</p>

        {# Input Form #}
        <form action="{% url 'trbotinput:exercise' exercise.exercise_id %}" method="POST">
            {% csrf_token %}
            <div id="enterinput">
                <input type="text" id="entertext" name="input" placeholder="Enter your input here"></textarea> 
            </div>

            {# Submit Button #}
            <div class="submitinput">
                <input type="submit" value="Submit">
            </div>
        </form>  

        {# Display Input #}
        {% if input_text is not None %}
            <p>Your input was: "{{ input_text }}"</p>

            {# Next Button #}
            {% if next_entry >= 0 and correct_input == True %}
                <p>That's correct!</p>

                <form action="{% url 'trbotinput:exercise' next_entry %}" method="GET">
                    <button type="submit" value="Next!">Next Exercise</button>
                </form>
            {% else %}
                {% if last_entry == True %}
                    <p>Congratulations! You've completed all available exercises!</p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if error_message %}
            <p class="errorMsg">{{ error_message }}</p>
        {% endif %}
    </div>
</body>