{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'trbotinput/indexstyle.css' %}">

<h1 class="header">Welcome to TRBot's input exercises!</h1>

<body class="bodycontainer">
    <div class="container">
        <h2 class="header">Here's the rundown:</h2>
            <ol class="list">
                <li>Watch the GIF.</li>
                <li>Type your input into the text box.</li>
                <li>Submit your input and see your results! If you're close enough, you can move onto the next GIF.</li>
            </ol>
        <h3 class="header">Ready to start?</h3>
        
        {% if first_entry >= 0 %}
            <form action="{% url 'trbotinput:exercise' first_entry %}" method="GET">
                <button type="submit" value="Start">Start</button>
            </form>
        {% else %}
            <p class="errorMsg">No exercise ID found.</p>
        {% endif %}
    </div>
</body>

