{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'yturlfetch/indexstyle.css' %}">

<body id="bodycontainer">
<div id="container">
    {% if video_list %}
        <p>yturlfetch videos available:</p>
    {% for video in video_list %}
        <li><a href="{% url 'yturlfetch:video' video.video_id %}">{{ video.video_id }}</a></li>
    {% endfor %}
    {% else %}
        <p>Hello, you're at the yturlfetch index. No videos are available.</p>
    {% endif %}
</div>
</body>