{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'yturlfetch/videostyle.css' %}">

<body id="bodycontainer">
    <div id="container">
        <h3 id="h3container"><a href="{% url 'yturlfetch:index' %}">&larr; Back</a></h6>
        <h2 id="videoheader">Invidious ({{ video.video_id }})</h1>

        <div id="video">
            <iframe id='ivplayer' width='640' height='360' src='https://invidio.us/embed/{{ video.video_id }}' style='border:black;'></iframe>
        </div>

        <br>

        <h2 id="videoheader">Direct from Video</h2>
        <div id="video">
            {% comment %}<video></video>{% endcomment %}
        </div>
    </div>

</body>