{% comment %}
    Django does dictionary lookup on the "question" object
    Then it finds the attribute if it fails
    If that fails, it tries a list-index lookup
{% endcomment %}
<h1>{{ question.question_text }}</h1>

{% if error_message %} <p><strong>{{ error_messsage }}</strong></p>{% endif %}

{# Always use POST when creating a form that alters data server-side #}
<form action="{% url 'polls:vote' question.id %}" method="post">

{% comment %} This prevents Cross Site Request Forgeries - always use with POST forms {% endcomment %}
{% csrf_token %}

{% comment %}
    For each question choice, show radio button associated with each choice ID
    The name of "choice" means that'll be sent in the POST data, as "choice=#" with # as the ID
{% endcomment %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    
    {# "forloop.counter" is how many times the for went through the loop #}
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
<br>
{% endfor %}
<input type="submit" value="Vote">
</form>

{% comment %}
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul>
{% endcomment %}