{% comment %}
"{% load static %}" generates the absolute URL of static files.
{% endcomment %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
        {% comment %} We can avoid hardcoding /polls/ with the {% url %} template tag
             This looks up the URL definition in the polls.urls module
        {% endcomment %}
        {# "polls:" is the namespace #}
    {% for question in latest_question_list %}
        
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}