{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'invidiouslinks/detailstyle.css' %}">

<body id="bodycontainer">
    <div id="container">
        <h3 id="h3container"><a href="{% url 'invidiouslinks:index' %}">&larr; Back</a></h6>
        <h1 id="videoheader">{{ video.video_name }}</h1>

        <div id="video">
            <iframe id='ivplayer' width='640' height='360' src='https://invidio.us/embed/{{ video.video_id }}' style='border:black;'></iframe>
        </div>

        <br>

        {% if error_message %}
            <p class="error"><strong>{{ error_message }}</strong></p>
        {% endif %}

        <div id="commentbox">
            {# Since Comment has Video as a ForeignKey, "comment_set" is available - this is part of Django's template syntax #}
            
            <h3>Comments</h3>
            {% if video.comment_set and video.comment_set.all.count > 0 %}
                {% for comment in video.comment_set.all %}
                    <li>{{ comment.comment_text }}</li>
                {% endfor %}
            {% else %}
                <p>No comments available</p>
            {% endif %}
        </div>

        <div id="commentboxarea">

            {% comment %}
                Refresh this page with POST data.
                The "comment" textarea will be sent as the POST data.
                The name determines how to reference it. 
            {% endcomment %}
            <form action="{% url 'invidiouslinks:detail' video.video_id %}" method="POST">
                {% csrf_token %}  
                <div id="entertext">
                    <textarea id="entertext" name="comment" placeholder="Enter comment..."></textarea> 
                </div>

                <div id="submittext">
                    <input type="submit" value="Submit">
                </div>
            </form>  
        </div>
    </div>

</body>