{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'invidiouslinks/indexstyle.css' %}">

<body id="bodycontainer">
<div id="container">
    {% if video_list %}
        <p>invidiouslinks videos available:</p>
    {% for video in video_list %}
        <li><a href="{% url 'invidiouslinks:detail' video.video_id %}">{{ video.video_name }}</a></li>
    {% endfor %}
    {% else %}
        <p>Hello, you're at the invidiouslinks index. No videos are available.</p>
    {% endif %}
</div>
</body>