#videoheader
{
    text-align: center;
    color: #eeeeee;
}

#video
{
    text-align: center;
}

#container
{
    background-color: #1e1e1e;
    margin: 0px;
}

#h3container
{
    margin: 0px
}

#bodycontainer
{
    margin: 0px;
    background-color: #1e1e1e;
}

#commentbox
{
    margin: 20px;
    text-align: center;
    color: #eeeeee;
}

#entertext
{
    display: flex;
    justify-content: center;
}

#submittext
{
    text-align: center;
    margin: 10px;
}

textarea
{
    resize: none;
    width: 300px;
    height: 50px;
}

.error
{
    text-align: center;
    color: #ff0000;
}