#videoheader
{
    text-align: center;
    color: white;
}

#video
{
    text-align: center;
}

#container
{
    background-color: #1e1e1e;
}

#h3container
{
    margin: 0px
}

#bodycontainer
{
    background-color: #1e1e1e;
}

#commentbox
{
    margin: 20px;
    text-align: center;
}

p
{
    color: #eeeeee;
}

li
{
    color: #eeeeee;
}